@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 115 39% 25%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 4 59% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 115 39% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 4 59% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 115 39% 25%;
    --input: 0 0% 89.8%;
    --ring: 4 59% 47%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 115 39% 25%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 4 59% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 115 39% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 13%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 4 59% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 115 39% 25%;
    --input: 0 0% 13%;
    --ring: 4 59% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
